In [4]:
import pandas as pd
import paths

In [16]:
ctrl = paths.reversal_veh
ctrl

['/Users/yaomingyang/Desktop/FED3-data/behavior data integrated/mPFC/Vehicle Tx/Reversal/M10.CSV',
 '/Users/yaomingyang/Desktop/FED3-data/behavior data integrated/mPFC/Vehicle Tx/Reversal/M6.csv',
 '/Users/yaomingyang/Desktop/FED3-data/behavior data integrated/mPFC/Vehicle Tx/Reversal/M7.CSV',
 '/Users/yaomingyang/Desktop/FED3-data/behavior data integrated/mPFC/Vehicle Tx/Reversal/M8.CSV',
 '/Users/yaomingyang/Desktop/FED3-data/behavior data integrated/mPFC/Vehicle Tx/Reversal/M9.CSV']

In [18]:
print(ctrl[-2])
df = pd.read_csv(ctrl[-2])
df = df[:1083]
df.tail(10)

/Users/yaomingyang/Desktop/FED3-data/behavior data integrated/mPFC/Vehicle Tx/Reversal/M8.CSV

,MM:DD:YYYY hh:mm:ss,Library_Version,Session_type,Device_Number,Battery_Voltage,Motor_Turns,FR,Event,Active_Poke,Left_Poke_Count,Right_Poke_Count,Pellet_Count,Block_Pellet_Count,Retrieval_Time,InterPelletInterval,Poke_Time
1073,5/1/2024 11:14:08,1.16.3,RevT_R,0,3.64,NaN,1,LeftDuringDispense,Right,556,296,222,0,NaN,NaN,0.20
1074,5/1/2024 11:14:11,1.16.3,RevT_R,0,3.64,NaN,1,RightDuringDispense,Right,556,297,222,0,NaN,NaN,0.71
1075,5/1/2024 11:14:45,1.16.3,RevT_R,0,3.64,NaN,1,LeftDuringDispense,Right,557,297,222,0,NaN,NaN,0.11
1076,5/1/2024 11:15:51,1.16.3,RevT_R,0,3.64,NaN,1,LeftDuringDispense,Right,558,297,222,0,NaN,NaN,0.02
1077,5/1/2024 11:16:26,1.16.3,RevT_R,0,3.64,NaN,1,LeftDuringDispense,Right,559,297,222,0,NaN,NaN,0.13
1078,5/1/2024 11:16:34,1.16.3,RevT_R,0,3.64,NaN,1,RightDuringDispense,Right,559,298,222,0,NaN,NaN,0.34
1079,5/1/2024 11:16:41,1.16.3,RevT_R,0,3.64,NaN,1,RightDuringDispense,Right,559,299,222,0,NaN,NaN,0.26
1080,5/1/2024 11:18:50,1.16.3,RevT_R,0,3.64,NaN,1,LeftDuringDispense,Right,560,299,222,0,NaN,NaN,0.19
1081,5/1/2024 11:22:52,1.16.3,RevT_R,0,3.64,NaN,1,LeftWithPellet,Right,561,299,222,0,NaN,NaN,0.16
1082,5/1/2024 11:23:17,1.16.3,RevT_R,0,3.64,286.0,1,Pellet,Right,561,299,223,0,Timed_out,1523.0,NaN

In [19]:
df.to_csv(ctrl[-2], index=False)